@use 'variables' as *;
@import url("./fonts.scss");


:root {
  --background: $white;
  --foreground: $text-color-main;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}



body {
  color: var(--foreground);
  background: var(--background);
}


a {
  color: inherit;
  text-decoration: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: $text-color-main;
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
  transition: background-color 5000s ease-in-out 0s;
}