@use "../../styles/variables" as *;

.card-container {
  background: #ffffff;
  border: 1px solid rgba($secondary-color, 0.06);
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  min-width: 240px;
//   width: 100%;
    flex: 1;
  height: 160px;
  padding: 20px 30px 30px;

  h3 {
    display: block;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: $text-color-main;
    margin: 12px 0px 14px;
    letter-spacing: 0%;

  }

  p {
    margin: 0px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $secondary-color;
    letter-spacing: 0%;
  }
}

@media screen and (max-width: $bp-tablet) {
  .card-container {
    width: 320px;
  }
}
@media screen and (max-width: $bp-mobile) {
  .card-container {
    width: 100%;
  }
}
