@import "../../../styles/global.scss";

.form-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $primary;
}

.form-input {
  border: 2px solid $primary-15;
  border-radius: 5px;
  width: 100%;
  margin: 5px 0px 20px;
  display: flex;
  align-items: center;
  font-family: "Avenir Next";
  padding: 0 16px;

  input {
    border: 0px;
    outline: 0;
    width: 100%;
    padding: 16px 0;
    background: transparent;
    ::placeholder {
      color: $primary;
      opacity: 0.6;
    }
  }

  .suffix-text {
    color: $app-lemon;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    cursor: pointer;
  }
}
