@use "@/styles/variables" as *;

.trigger {
  background: none;
  border: none;
  cursor: pointer;
  color: $text-color-main;
  padding: 4px;
  display: flex;
  align-items: center;
  border-radius: 4px;

  &:hover {
    background-color: rgba($secondary-color, 0.06);
  }
}

.content {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba($text-color-main, 0.04);

  min-width: 160px;
  padding: 4px 0;
  z-index: 100;
  gap:20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  color: $text-color-main;
  cursor: pointer;
  text-decoration: none;
  outline: none;


   & > svg {
  color: $text-color-main;

   }
  &:hover,
  &[data-highlighted] {
    background-color: rgba($secondary-color, 0.06);
    color: $secondary-color;
  }
}

